<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
    </connectionStrings>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />

        <customErrors mode="RemoteOnly" defaultRedirect="~/error.aspx" />

        <authentication mode="Forms">
            <forms loginUrl="~/admin/login.aspx" timeout="2880" defaultUrl="~/default.aspx">
                <credentials passwordFormat="Clear">
                    <user name="joshua" password="ttf" />
                </credentials>
            </forms>
        </authentication>

    </system.web>

    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

</configuration>
